.Signup-container{
    width: 100vw;
    display: flex;
}

.signup-left-container{
    width: 60%;
}

.AuthIMG{
    display: flex;
    flex-grow: 1;
    height: 100vh;   
}

.Signup-form{
    justify-self: center;
    width: 48%;
    font-family: var(--font-ter);
}

.Signup-credentials-box > label{
    color: #666666;
}

.signup-input{
    border: 0.7px solid rgba(102, 102, 102, 0.35);
    border-radius: .2rem;
    height: 2.5rem;
    color: #482121;
}

.Signup-form-title{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.Signup-form-title > h3 {
    margin: 1rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: #333333;
}

.Signup-form-title > p {
    margin: 1.5rem;
    font-size: .75rem;
    text-decoration: underline;
    color: #4831D4;
    cursor: pointer;
}

.Signup-credentials-box{
    font-size: .75rem;
    display: flex;
    flex-direction: column;
    padding: .8rem;
    gap: .5rem;
}

.Signup-checkbox-div{
    display: flex;
    padding: .8rem;
    gap: 5px;
}

.checkBox_label{
    font-size: 11px;
    color: #666666;
}

.signup-input-checkbox{
    color: #111111;
}

.underline{
    text-decoration: underline;
}

.btn-createAcc{
    font-family: var(--font--primary);
    padding: .8rem;
    font-weight: 500;
    font-size: 1rem;
    color: #FFFFFF;
    background-color: #E0E2D9;
    border-radius: 3rem;
    border: .1rem solid #E0E2D9;
    width: 100%;
}

.TnC-description{
    margin-top: 3rem;
    text-align: center;
    font-family: var(--font-sec);
    color: #676B5F;
    font-size: .75rem;
}